@font-face{
    font-family: "Type_Machine";
    src: url('Type_Machine.ttf');
}
body{
    background-color: slategray;
    font-family: 'Times New Roman', Times, serif;
}
/* titre */
.entete a{
    float: left;
    border: 5px solid darkblue;
    height: 156px;
    width: 117px;
}
.entete{
    font-family: "Type_Machine",'Courier New', Courier, monospace;
    background-color: white;
    display: flexbox;
    min-width: 800px;
    font-weight: bold;
    font-size: 0.85em;    
    text-align: center;
    color: darkblue;
    border: 9px solid darkblue;
    border-radius: 10px;
}
/* ensemble Menu + option page d'acceuil */
.commande{
    font-family: "Type_Machine",'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    min-width: 865px;
}
/* Menu differentes pages */
.menu{
    font-family: "Type_Machine",'Courier New', Courier, monospace;
    min-width: 475px;
    padding: 15px;
    list-style-type: none;
    border: 9px solid darkblue;
    border-radius: 10px;
    font-size: 0.75em;
    color: mediumblue;
    background-color: lightblue;
    flex: 1;
}
.menu a:hover{
    color: red;
    font-style: italic; 
}
.menu :visited{
    color: darkblue;
}
/* Marquage Titre dans le "menu" */
mark{
    background-color: dodgerblue;    
    font-size: 1.2em;
}
/* options page d'acceuil */
.option{
    background: lightblue;
    font-size: 0.7em;
    border: 9px solid darkblue;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
}
.option a:link{
    text-decoration: none;
    color: blue;
}
.option a:hover{
    color: red;
    font-style: italic;
}
/* bouton retour acceuil */
.retour{
    background-color:darkblue;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border: 5px solid black;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 3px 3px black;
}
.retour a:link{
    color: red;
    text-decoration: none;
}
.retour a:visited{
    color: red;
}
/* bloc test audio */
.audio{ 
    display: flex;
    justify-content: space-between;
}
/* Motivations */
#motivation{
    background-color: white;
    color: darkblue;
    border: 9px solid darkblue;
    border-radius: 10px;
    min-width: 800px;
    padding: 10px;
    text-align: justify;
}
#motivation strong{
    color: black;
    text-decoration: underline;
}
.box{
    font-size: 1.1em;
    background-color: white;
    color: darkblue;
    border: 9px solid darkblue;
    border-radius: 10px;
    min-width: 475px;
    padding: 10px;
}
#bac img{
    float: left;
}
#extra{
    color: darkblue;
    background-color: white;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 9px solid darkblue;
    border-radius: 10px;
    text-align: justify;
}
#extra li{
    flex: 1;
    min-height: 250px;
    border: 2px solid darkblue;
    list-style-type: none;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}
#interet{
    list-style-type: none;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    flex: 1;
    margin: 5px;
}
@media screen and (max-width: 970px){
    .audio{
        display: flex;
        flex-direction: column;
    }
    .box{
        font-size: 1.2em;
    }
}
